.box-1 {
    width: 100px;
    height: 100px;
    background-color: #e86410;
    transform: translate(180px, 120px);
}

.box-2 {
    width: 100px;
    height: 100px;
    background-color: #000;
    transform: rotate(160deg);
}

.box-3 {
    width: 100px;
    height: 100px;
    background-color: green;
    transform: skew(160deg);
}

img {
   
	margin: 50px;
}

img:hover {
    transform: scale(2);
}

.box-4 { 
    width: 100px;
    height:100px;
    margin: 25px;
    background-color: blue;
    
}

.box-4:hover {
    animation: rotating 2s linear infinite;
    
}

@keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

